<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Catálogo de servicios</h3>

                    <a href="catalogodeservicios.pdf" download="08BitsServicios">
                        <i class="fa fa-file-pdf-o"></i>
                        &nbsp; Servicios de 08Bits
                    </a>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Redes Sociales</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/08Bits" class="btn-social btn-outline"><i
                                        class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/08BitsTeam" class="btn-social btn-outline"><i
                                        class="fa fa-fw fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Política de Privacidad</h3>
                    <a href="//www.iubenda.com/privacy-policy/7896253" class="iubenda-white iubenda-embed"
                       title="Privacy Policy">Privacidad</a>
                    <script type="text/javascript">(function (w, d) {
                            var loader = function () {
                                var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                                s.src = "//cdn.iubenda.com/iubenda.js";
                                tag.parentNode.insertBefore(s, tag);
                            };
                            if (w.addEventListener) {
                                w.addEventListener("load", loader, false);
                            } else if (w.attachEvent) {
                                w.attachEvent("onload", loader);
                            } else {
                                w.onload = loader;
                            }
                        })(window, document);</script>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    08Bits &copy; 2016
                </div>
            </div>
        </div>
    </div>
</footer>