<header>
    <section id="slider">
        <div id="div_backg" style="z-index:-100">
            <img src="/images/somos08bits.jpg">
        </div>
        <ul>
            <li>
                <div class="ttl-1" data-appear-animation="fadeInLeft">.........</div>
                <div class="ttl-2" data-appear-animation="fadeInRight"><img style="width: 20%"
                                                                            src="/images/08bitsnombre.png"></div>
                <div class="ttl-3" data-appear-animation="bounceInDown"> ...........</div>
            </li>
        </ul>
    </section>

    <div class="container">
        <div class="row" id="features">
            <div class="iServices" id="servicios">
                <div class="span12">
                    <div class="row">
                        <div class="span4 Item_Service" data-appear-animation="bounceIn" id="servicios_element1">
                            <div class="imgBorder bColor1">
                                <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal"
                                   alt="Dise침o de Paginas Web"/> <img src="/images/imagemenu1.png"
                                                                      alt="Aplicaciones M칩viles"/>
                            </div>
                            <h2>Aplicaciones Web</h2><span class="spline bColor1"></span>
                            <p></p>
                        </div>
                        <div class="span4 Item_Service" data-appear-animation="bounceIn" id="servicios_element2">
                            <div class="imgBorder bColor3">
                                <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal"><img
                                            src="/images/imagemenu2.png" alt="Aplicaciones M칩viles"/></a>
                            </div>
                            <h2>Aplicaciones M칩viles</h2><span class="spline bColor3"></span>
                            <p></p>
                        </div>
                        <div class="span4 Item_Service" data-appear-animation="bounceIn" id="servicios_element3">
                            <div class="imgBorder bColor2">
                                <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal"><img
                                            src="/images/imagemenu3.png" alt="Aplicaciones Escritorio"/></a>
                            </div>
                            <h2>Aplicaciones de Escritorio</h2><span class="spline bColor2"></span>
                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</header>