<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<% include ../partials/head %>

<body id="page-top" class="index">
<!-- Pre Loader -->
<div class="inner" style="display:none">

    <!-- Navigation -->
    <% include ../partials/nav %>

    <!-- Header -->
    <% include ../partials/header %>

    <div class="containerbtn">
        <hr class="tall"/>
        <!-- Button trigger modal -->
        <div class="boton-cotizacion">
            <button type="button" class="btn btn-info cotizacion" data-toggle="modal" data-target="#myModal">
                Solicite su cotización
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content modal-color">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <label class="label-cotizacion">Ingrese sus datos para que un consultor especializado lo
                            contacte, y conozca sus requisitos para ofrecerle una atención personalizada.</label>
                    </div>
                    <div class="modal-body">
                        <form id="requestForm" novalidate>
                            <!--<form method="post" action="" id="requestForm">-->
                            <br><br>
                            <label class="label-cotizacion">Nombre</label>
                            <input type="text" maxlength="50" class="form-control" placeholder="Nombre" id="namerequest" required
                                   data-validation-required-message="Por favor agrega tu nombre.">
                            <p class="help-block text-danger"></p>

                            <label class="label-cotizacion">Correo</label>
                            <input type="email"  maxlength="50" class="form-control" placeholder="Correo" id="emailrequest" required
                                   data-validation-required-message="Por favor agrega tu correo.">
                            <p class="help-block text-danger"></p>

                            <label class="label-cotizacion">Número de teléfono</label>
                            <input type="tel" maxlength="15" class="form-control" placeholder="Número de teléfono" id="phonerequest"
                                   required
                                   data-validation-required-message="Por favor agrega tu número de teléfono.">
                            <p class="help-block text-danger"></p>


                            <label class="label-cotizacion" for="sel1">Presupuesto Estimado:</label>
                            <select class="form-control" id="sel1">
                                <option>Menor de $5000</option>
                                <option>$5000 - $10000</option>
                                <option>$10000 - $25000</option>
                                <option>$25000 - $50000</option>
                                <option>$50000 - $80000</option>
                                <option>$80000 - $100000</option>
                                <option>$100000 - $300000</option>
                                <option>$300000 - $500000</option>
                                <option>Más de $500000</option>
                            </select>

                            <label class="label-cotizacion">Mensaje</label>
                            <textarea rows="5" class="form-control" placeholder="Mensaje" id="messagerequest" required
                                      data-validation-required-message="Por favor agrega un mensaje."></textarea>
                            <p class="help-block text-danger"></p>

                            <br>
                            <div id="successrequest"></div>
                            <br>
                            <button style="position: absolute; left: 50%; -webkit-transform: translate(-50%, -50%);
                                           transform: translate(-50%, -50%);"
                                    type="submit" class="btn btn-info" id="btnRequest">Enviar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Grid Section
<section id="creaciones" class="topContainer" >
-->
<section style="background-color: #2C3E50;" id="creacion" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color: #61BC47;">Creaciones</h2>
                <hr style="background-color: #61BC47;" class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/proyectos/maharannee.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/proyectos/code.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/proyectos/doctor.png" class="img-responsive" alt="">
                </a>
            </div>
            <!-- #Se remueven las creaciones de Sudoku It! y Control De Accesos #
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/proyectos/sudokuit.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/proyectos/cap.png" class="img-responsive" alt="">
                </a>
            </div> -->


            <!--<div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                </a>
            </div> -->
        </div>
    </div>
</section>


    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Clientes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item sizeImage">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/clientes/maharanee.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item sizeImage">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/clientes/code.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item sizeImage">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/clientes/doctor.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <!--Se agregan La Purisima y Wannsolution a la sección de clientes -->
                <div class="col-sm-4 portfolio-item sizeImage">
                    <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/clientes/purisima.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item sizeImage">
                    <a href="#portfolioModal13" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/clientes/wannasol.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <!--   <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/game.png" class="img-responsive" alt="">
          </a>
          </div>
          <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
          <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
          </div>
          </div>
          <img src="img/portfolio/safe.png" class="img-responsive" alt="">
          </a>
          </div>
          <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
          <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
          </div>
          </div>
          <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
          </a>
          </div>
          </div> -->
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section style="background-color: #2C3E50;" class="success" id="nosotros">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #61BC47;">Acerca de Nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <!-- col-lg-offset-2-->
                <div class="col-lg-12  alignCenter">
                    <p style="color: #FFF;">Somos un grupo de ingenieros en sistemas computacionales capacitados en
                        diferentes áreas con la finalidad de servirte, ayudarte y completar contigo los objetivos que
                        tengas
                        en mente.</p>
                </div>
                <!--  <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
              </div>-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Theme
              </a>
            </div> -->
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="aNewHope">¡Contáctanos!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-10 floating-label-form-group controls">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" id="namecontact" required
                                       data-validation-required-message="Por favor ingresa tu nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-10 floating-label-form-group controls">
                                <label>Correo</label>
                                <input type="email" class="form-control" placeholder="Correo" id="emailcontact" required
                                       data-validation-required-message="Por favor ingresa tu dirección de correo.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-10 floating-label-form-group controls">
                                <label>Número de teléfono</label>
                                <input type="tel" class="form-control" placeholder="Número de teléfono"
                                       id="phonecontact" required
                                       data-validation-required-message="Por favor ingresa tu número de teléfono.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-10 floating-label-form-group controls">
                                <label>Mensaje</label>
                                <textarea rows="5" class="form-control" placeholder="Mensaje" id="messagecontact"
                                          required
                                          data-validation-required-message="Por favor ingresa un mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-10">
                                <button id="submitcontact" type="submit" class="btn btn-info btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <label class="label-contactanos">OFICINA</label>
                    <br>
                    <div class="info-detail">

                        <ul>
                            <li><i class="fa fa-map-marker"></i><span> Dirección: </span> 
                                Blvd. Francisco González Bocanegra #5208
                            </li>
                            <li><i class="fa"></i> San Isidro, 37510.
                            </li>
                            <li><i class="fa"></i> León, Guanajuato.
                            </li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-phone"></i><span> Teléfono:</span> +52 (477) 2005006</li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-phone"></i><span> Teléfono:</span> +52 (477) 7520377</li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-envelope"></i><span>Correo: 08bits.team@gmail.com</span></li>
                        </ul>

                    </div>
                    <br>
                    <div class="info-detail">
                        <label class="label-contactanos">HORARIO DE OFICINA</label>
                        <br>
                        <ul class="unstyled">
                            <li><i class="fa fa-clock-o"></i> Lunes a Viernes: 9:00 am a 1:00 pm y 2:00 pm a 6:00 pm
                            </li>
                            <li><i class="fa fa-clock-o"></i> Sábados: 9:00 am a 12:00 pm</li>
                            <li><i class="fa fa-clock-o"></i> Domingos y Festivos: 08bits.team@gmail.com</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <% include ../partials/footer %>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary centerflag" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Maharanee</h2>
                            <hr class="star-primary">
                            <img src="/images/clientes/maharanee.png" class="img-responsive  img-centered" alt="">
                            <p>Maharanee es una empresa dedicada al comercio de bisutería y accesorios de vestir.
                                Maharanee Corporativo es la empresa a la cual se le desarrolló un sitio para ventas,
                                incrementando su difusión y mejorando tanto el aspecto de atención como el de muestra de
                                productos.</p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a  href="https://www.facebook.com/MaharaneeCo" target="_blank">Maharanee Corporativo</a> <!-- Referencias a misma página removida. -->
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong> <a >2014 </a> <!-- Referencias a misma página removida. -->
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a>Desarrollo web</a> <!-- Redireccionamiento en una nueva pestaña, página de maharanee ya no está disponible, considerar otra opción -->
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>CODE ¡Actívate!</h2>
                            <hr class="star-primary">
                            <img src="/images/clientes/code.jpg" class="img-responsive img-centered" alt="">
                            <p>CODE (Comisión de Deporte del Estado de Guanajuato) es el encargado de regular,
                                promover e impulsar acciones en materia de cultura física y deportiva para contribuir
                                al mejoramiento de la calidad de vida de los guanajuatenses.</p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a href="http://www.codegto.gob.mx/" target="_blank">CODE</a> <!-- Redireccionamiento en una nueva pestaña-->
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong><a>Agosto 2016</a> <!--Redireccionamiento a la página de bootsrap removida -->
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a>Desarrollo Móvil (Android/iOS)</a> <!--Redireccionamiento a la página de bootsrap removida -->
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Dr. Ricardo Martínez</h2>
                            <hr class="star-primary">
                            <img src="/images/clientes/doctor.jpg" class="img-responsive img-centered" alt="">
                            <p>El Dr. Ricardo Martínez Villegas, médico general, cirujano y partero, encargado de su
                                departamento solicitó un programa para la administración y control, además de
                                optimización de tiempos</p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a>Dr. Ricardo Martínez Villegas</a> <!--Redireccionamiento a la página de bootsrap removida -->
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong><a >Junio 2016</a> <!--Redireccionamiento a la página de bootsrap removida -->
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a >Desarrollo Web</a> <!--Redireccionamiento a la página de bootsrap removida -->
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Maharanee ventas</h2>
                            <hr class="star-primary">
                            <img src="/images/proyectos/modal/maharannee.jpg" class="img-responsive img-centered"
                                 alt="">
                            <p> Maharanee Store es una tienda dedicada a la venta de bisutería y
                                accesorios de vestir desarrollada por 08Bits la cual cuenta con venta por catálogo,
                                preguntas, contacto, usuarios, pagos y más.
                            </p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a href="https://www.facebook.com/MaharaneeCo" target="_blank">Maharanee</a> <!-- Redireccionamiento en una nueva pestaña-->
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong> <a > Junio 2014 </a> <!-- Redireccionamiento a la misma página removida-->
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a>Desarrollo web</a> <!-- Redireccionamiento en una nueva pestaña, página de maharanee ya no está disponible, considerar otra opción -->
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>CODE ¡Actívate!</h2>
                            <hr class="star-primary">
                            <img src="/images/proyectos/modal/code.png" class="img-responsive img-centered" alt="">
                            <p>La aplicación CODE ¡Actívate! fue desarrollada por algunos miembros de 08Bits los cuales
                                participaron en la creación de dos aplicaciones para CODE (Comisión de Deporte del
                                Estado de
                                Guanajuato).
                                Las aplicaciones están disponibles para Android y iOS. Se pueden recibir y agendar
                                eventos,
                                recibir notificaciones o bien llevar un perfil de usuario y reportes de actividades
                                físicas y consumo de agua.</p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a href="http://www.codegto.gob.mx/" target="_blank">CODE</a> <!-- Redireccionamiento en una nueva pestaña -->
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong> <a > Agosto 2016 </a> <!-- Redireccionamiento a la misma página removida-->
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong> <a >Desarrollo Móvil (Android/iOS) </a> <!-- Redireccionamiento a la misma página removida-->
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Control de Pacientes</h2>
                            <hr class="star-primary">
                            <img src="/images/proyectos/modal/doctor.jpg" class="img-responsive img-centered" alt="">
                            <p>Plataforma web la cual administra pacientes, recetas y tiempos del Dr. Ricardo.
                                Ésta lleva un panel de administración de acuerdo a sus necesidades. En cuanto al diseño
                                la experiencia del usuario va acorde a su exigencia siendo responsiva para cualquier
                                dispositivo.
                            </p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a>Dr. Ricardo Martínez Villegas</a> <!-- Redireccionamiento a la misma página removida-->
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong><a>Julio 2016</a> <!-- Redireccionamiento a la misma página removida-->
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a>Desarrollo Web</a> <!-- Redireccionamiento a la misma página removida-->
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Se remueven Sudoku It y Control de Puertas de Acceso de la sección de Creaciones.
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sudoku it!</h2>
                            <hr class="star-primary">
                            <img src="/images/proyectos/modal/sudokuit.png" class="img-responsive  img-centered" alt="">
                            <p>Sudoku it! es una aplicación disponible en la tienda BlackBerry World
                                la cual es una versión del popular juego Sudoku, ésta vez,
                                en una versión creada por el equipo 08Bits,
                                disponible para los dispositivos BlackBerry.</p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a href="" target="_blank">08Bits</a> <!-- Redireccionamiento a la misma página pero sobre nueva pestaña
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong><a>Agosto 2012</a> <!-- Redireccionamiento a la misma página removida
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a>Desarrollo Móvil (BlackBerry)</a> <!-- Redireccionamiento a la página de Maharanee removida
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>CAP</h2>
                            <hr class="star-primary">
                            <img src="/images/proyectos/modal/caphome.jpg" class="img-responsive  img-centered" alt="">
                            <p>CAP (Control de Acceso a Puertas) es una plataforma web la cual administra usuarios,
                                pagos y servicios, por medio de usuarios con diferentes roles, los cuales tienen ciertos
                                privilegios para el accionar en el sistema. Implementado en un fraccionamiento
                                privado.</p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a > WElectronics </a> <!-- Redireccionamiento a la misma página removida
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong><a >Noviembre 2013 </a> <!-- Redireccionamiento a la misma página removida
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a >Desarrollo web</a> <!-- Redireccionamiento a la misma página removida
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!--
                        <div class="modal-body">
                        -->
                            <h2>Aplicaciones Web</h2>
                            <hr class="star-primary">
                            <img src="/images/imagemenu1.png" class="img-responsive  img-centered" alt="">
                            <p>Plataformas web optimizadas a la necesidad de su empresa. Desde lo más simple que pueda
                                imaginar
                                hasta lo más complicado que le parezca.</p>
                            <!-- Se reincorpora el botón de Cerrar para que tenga congruencia con los otros dos apartados de "Servicios" -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button> 
                            
                        <!--
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Aplicaciones Móviles</h2>
                            <hr class="star-primary">
                            <img src="/images/imagemenu2.png" class="img-responsive  img-centered" alt="">
                            <p>Aplicaciones enfocadas a su dispositivo móvil, al alcance de sus manos. No te limites.
                                ¡Cuéntanos tu idea!</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Aplicaciones de Escritorio</h2>
                            <hr class="star-primary">
                            <img src="/images/imagemenu3.png" class="img-responsive  img-centered" alt="">
                            <p>Software enfocado en cumplir los objetivos de su empresa.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Purificadora La Purísima</h2>
                            <hr class="star-primary">
                            <img src="/images/clientes/purisima.jpg" class="img-responsive  img-centered" alt="">
                            <p>Creación de una plataforma web para la administración de proveedores, pedidos, clientes, gráficas y reportes, así como interconexión con las aplicaciones de Android e iOS, las cuales sirven para hacer solicitud o entrega de pedido. </p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a href="https://www.facebook.com/lapurisimapurificadora" target="_blank">Purificadora La Purísima</a> 
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong> <a >Octubre 2016 - Marzo 2017 </a> 
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a >Desarrollo Web y Móvil</a> 
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 style="letter-spacing:-5px;">WannaSolution<br> SA. de C.V.</h2>
                            <hr class="star-primary">
                            <img src="/images/clientes/wannasol.jpg" class="img-responsive  img-centered" alt="">
                            <p>WannaSolution es una organización flexible y de rápida adecuación que brinda soluciones web 2.0 que generan un impacto positivo para sus usuarios dándole un uso diferente a la tecnología. Uno de los integrantes del equipo 08Bits® colaboró con WannaSolution en el desarrollo de módulos que realizan actividades en tiempo real. </p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a href="https://www.facebook.com/wannasolution" target="_blank">WannaSolution</a> 
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong> <a >2016</a> 
                                    </strong>
                                </li>
                                <li>Servicio:
                                    <strong><a >Desarrollo Web</a> 
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <% include ../partials/scripts %>

</div>

</body>

</html>
