<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Iniciar sesión</title>

    <!-- Bootstrap core CSS -->
    <link href="/blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script src="/blog/vendor/jquery/jquery.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/blog/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
      <label for="inputEmail" class="sr-only">Correo electrónico</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Iniciar sesión</button>
    </form>
  </body>

  <script>
  var inputEmail = $("#inputEmail").val();
  var inputPassword = $("#inputPassword").val();
  $("#login").click(function() {
    $.post( "/login/submit", { email: inputEmail, password: inputPassword })
    .done(function( data ) {
        //window.location.href = "/blog/write";
    });
  });
  </script>
</html>