<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="08Bits Stack">
    <meta name="author" content="08Bits Team">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/new-age.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" href="#page-top">08Bits Stack</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menú
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#download">Empezar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Características</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contacto</a>
            </li>
        </ul>
    </div>
</nav>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">La plataforma tecnológica confiable y rentable para la colaboración de tu empresa, brindándoles comodidad, simplicidad y libertad.</h1>
                    <a href="#download" class="btn btn-outline btn-xl">¡Empieza ahora!</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/images/stack-home.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="download bg-primary text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading">Si te interesa nuestro servicio, inicia con la plataforma web.</h2>
                <p>Las aplicaciones móviles se adaptan a tu empresa.</p>
                <div class="badges">
                    <!-- <a class="badge-link" href="#"><img src="/images/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/images/app-store-badge.svg" alt=""></a>-->
                    <button type="button" class="btn btn-success btn-lg"
                            onclick="location.href='https://stack08bits.herokuapp.com';">Iniciar prueba</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Excelentes características, construcción ilimitada</h2>
            <p class="text-muted">Revisa las funciones básicas que puede trabajar con el software.</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup imac">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/images/stack-login.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-graph text-primary"></i>
                                <h3>Análisis</h3>
                                <p class="text-muted">Crear de reportes y usar de gráficas.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Notificaciones</h3>
                                <p class="text-muted">Recibir y mandar notificaciones push de las actividades que requiera.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-user text-primary"></i>
                                <h3>Usuarios</h3>
                                <p class="text-muted">Asignar usuarios dentro del sistema.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-info text-primary"></i>
                                <h3>Información</h3>
                                <p class="text-muted">Alimentar con información de otros sistemas, por ejemplo desde la aplicación móvil.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Stop waiting.<br>Start building.</h2>
            <a href="#contact" class="btn btn-outline btn-xl">Let's Get Started!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section> -->

<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>Construyamos juntos tecnología</h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter">
                <a href="https://twitter.com/08bitsteam">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item social-facebook">
                <a href="https://www.facebook.com/stack08">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <!--<li class="list-inline-item social-google-plus">
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>-->
        </ul>
    </div>
</section>

<footer>
    <div class="container">
        <p>08Bits &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
            <br>Diseño de <a href="https://startbootstrap.com/template-overviews/new-age/">Start Bootstrap</a>.</p>
        <!--<ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>-->
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/new-age.js"></script>

</body>

</html>
